<launch>
    <!--Gazebo Environment-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!--Turtlebot3 Spawn in Gazebo-->
    <include file="$(find multiple_turtlebots_estm)/launch/robots.launch"/>
    
    <arg name="node_start_delay" default="1.0" />  
    <!--Turtlebot3 Pose Publishment-->
    <node pkg="multiple_turtlebots_estm" type="get_local_se2_pose.py" name="get_local_se2_pose" />
    <!--Turtlebot3 Circular Movement-->
    <node pkg="multiple_turtlebots_estm" type="move_turtlebot.py" name="move_turtlebot"/>

    <!--Add Pose Data with Gaussian Noise-->
    <node pkg="multiple_turtlebots_estm" type="relative_measrement" name="relative_measrement"/>
    <!--ekf-->
    <node pkg="multiple_turtlebots_estm" type="my_kf_node" name="my_kf_node"/>
    <!--multiple ekf publishment with timesync-->    
    <node pkg="multiple_turtlebots_estm" type="timesync" name="timesync"/>
    
</launch>
