<launch>
    
    <!--Turtlebot3 Movement-->
    <node pkg="multiple_turtlebots_estm" type="scenario3.py" name="move_turtlebot"/>

    <!--uwb_aoa-->
    <node pkg="multiple_turtlebots_estm" type="uwb_sub" name="usb_sub"/>
    
    <!--ekf-->
    <node pkg="multiple_turtlebots_estm" type="my_kf_node" name="my_kf_node"/>
   
    
</launch>
